@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <a href="/Home/Type?typeName=Башенный" class="card">
            <div class="card-body">
                Башенный кран
            </div>
        </a>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                Автомобильный кран
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                СВУ
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                Транспорт
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                Экскаватор
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5>Фильтр</h5>
                <div class="card">
                    <div class="card-body">
                        Что?
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Когда
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Цена
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Свободен!</h5>
                        <div class="card">
                            <div class="card-body">
                                Цена</br> 400/1100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Свободен!</h5>
                        <div class="card">
                            <div class="card-body">
                                Цена</br> 400/1100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Свободен!</h5>
                        <div class="card">
                            <div class="card-body">
                                Цена</br> 400/1100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Свободен!</h5>
                        <div class="card">
                            <div class="card-body">
                                Цена</br> 400/1100
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
